{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jitter/style.css' %}">

<h2> Bunks </h2>
<button onclick="location.href='{% url 'jitter:users' %}'"> View Users </button>
		<br/>
{% if bunk_list %}
	{% for bunk in bunk_list %}
		<div>
		<div class="bunk">
			<a href="{% url 'jitter:user' bunk.from_user.id %}" class="user-info"> 
				<img class="user-photo" src="{{ bunk.from_user.photo }}" />
				{{ bunk.from_user.username }}
			</a>
			-> 
			<a href="{% url 'jitter:user' bunk.to_user.id %}" class="user-info"> 
				<img class="user-photo" src="{{ bunk.to_user.photo }}" />
				{{ bunk.to_user.username }}
			</a>
		</div>
	</div>
	{% endfor %}
{% else %}
	<p> No bunks. </p>
{% endif %}
