{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jitter/style.css' %}">

<button onclick="location.href='{% url 'jitter:users' %}'"> View All Users </button>
</br>
<form action="{% url 'jitter:add_bunk' user.id %}" method="post">
	{% csrf_token %}
	<select name="from_user">
		{% for from_user in users %}
			<option value="{{from_user.id}}"> {{from_user.username}} </option>
		{% endfor %}
	</select>
	<input type="submit" value="Bunk {{user.username}}">
</form>

<h1> Bunks </h1>
{% if bunk_list %}
	{% for bunk in bunk_list %}
		<div>
		<div class="bunk">
			<a href="{% url 'jitter:user' bunk.from_user.id %}" class="user-info"> 
				<img class="user-photo" src="{{ bunk.from_user.photo }}" />
				{{ bunk.from_user.username }}
			</a>
			-> 
			<a href="{% url 'jitter:user' bunk.to_user.id %}" class="user-info"> 
				<img class="user-photo" src="{{ bunk.to_user.photo }}" />
				{{ bunk.to_user.username }}
			</a>
		</div>
	</div>
	{% endfor %}
{% else %}
	<p> No bunks. </p>
{% endif %}



