{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jitter/style.css' %}">

<nav>
	<button onclick="location.href='{% url 'jitter:users' %}'"> View All Users </button>
	<button onclick="location.href='{% url 'jitter:all_bunks' %}'"> View All Bunks </button>
</nav>

<h1> {{user.username}}'s Bunks </h1>

<h2> Bunk {{user.username}} </h2>
<form action="{% url 'jitter:add_bunk' user.id %}" method="post">
	{% csrf_token %}
	<select name="from_user">
		{% for from_user in users %}
			<option value="{{from_user.id}}"> {{from_user.username}} </option>
		{% endfor %}
	</select>
	<input type="submit" value="Bunk {{user.username}}">
</form>

<h2> Bunks Recieved </h2>
{% include "jitter/bunk_list.html" with bunk_list=bunks_recieved %}

<h2> Bunks Given </h2>
{% include "jitter/bunk_list.html" with bunk_list=bunks_given %}






