{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jitter/style.css' %}">

{% include "jitter/header.html" %}
<nav>
	<button onclick="location.href='{% url 'jitter:all_bunks' %}'"> View Bunks </button>
</nav>

<h2> Users </h2>
{% if user_list %}
	{% for user in user_list %}
		<div>
			<a href="{% url 'jitter:user' user.id %}" class="user-info"> 
				<img class="user-photo" src="{{ user.photo }}" />
				{{ user.username }}
			</a>
		</div>
	{% endfor %}
{% else %}
	<p> No users. </p>
{% endif %}
